/*创建符合条件学生列表*/
.tutor_list {
    text-align: center;
}

.tutor_list_label {
    border-radius: 20%;
    padding: 3px;

}

.tutor_list_pending {
    background-color: orange;
}

.tutor_list_forbidden {
    background-color: red;
}

.tutor_list_approved {
    background-color: green;
}

.tutor_list_finished {
    background-color: grey;
}